/*

In this file:

// A. Modules
// B. Components

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use '../navigation';
@use '../collapse';
@use '../button';

////////////////////////////////////////
// B. Components
////////////////////////////////////////

@layer components {

    .global-header {
        display: grid;
        
        grid-template-areas:
            "logo"
            "secondary"
            "primary";

            // > * {
            //     outline: 1px solid red;
            // }
    }

    .global-header__logo {
        grid-area: logo;

        display: flex;
        justify-content: center;

        padding-block: var(--spacer-2);
    }

    .global-header__primary {
        grid-area: primary;
        
        @extend .collapse;
    }
    
    .global-header__menu {
        font-size: 1.375rem;
        
        @media (max-width: 1280px) {

            > ul > li > :is(a, button) {
                display: flex;
                width: 100%;
                justify-content: space-between;

                padding-inline: var(--spacer-2);
                padding-block: 1rem;
                
                border-block-start: var(--border-width) var(--border-style) var(--border-color);
            }

        }
    }

    .global-header__secondary {
        --button-icon-only-size: 2.75em;

        grid-area: secondary;

        display: flex;
        
        gap: 24px;
        
        align-items: center;

        @media screen and (max-width: 768px) {
            padding: var(--spacer-2);

            border-block: var(--border-width) var(--border-style) var(--border-color);
        }

        [class*="__search-language"] {
            display: none;
        }
    }

    .global-header__search-language {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacer-2);

        padding: var(--spacer-2);

    }

    .global-header__language {

        select {
            padding-inline: 2.5em;
        }

        .icon {
            position: absolute;
            inset-inline-start: 0;
            inset-block-start: 50%;
            inset-inline-end: 100%;

            transform: translateY(-50%);

            width: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;               
        }
    }

    .button-kids {
        margin-inline-start: auto;
    }
    
    .button-donate {
        background-color: var(--primary);

        .global-header__primary & {
            display: none;
        }
    }

    .global-header__menu {
        font-family: var(--header-font-family);
        
        ul {
            @extend %list-style-nav;
        }
    }

    @media (min-width: 768px) {

        .global-header {
            grid-template-areas:
                "logo secondary"
                "primary primary";

            grid-template-columns: 1fr auto;

            align-items: stretch;
            
            padding-inline: var(--spacer-2);
            
        }

        .global-header__logo {
            justify-content: start;
        }

        .global-header__secondary {
            border-block: none;
        }

        .global-header__search-language {
            gap: 24px;

            font-size: var(--font-size-sm);
        }

        .mobile-menu-toggle {
            order: 3;
        }
    }

    @media (min-width: 1280px) {

        .global-header {
            grid-template-areas:
                "logo secondary"
                "logo primary";

            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto;
        }

        .global-header__primary {
            display: flex !important;
            justify-content: flex-end;
            align-items: end;
        }

        .global-header__secondary {
            padding: unset;
        }

        .global-header__search-language {
            padding: unset;
        }

        .global-header__search-language {

            .global-header__secondary & {
                display: grid;
            }

            .global-header__primary & {
                display: none;
            }
        }

        .mobile-menu-toggle {
            display: none;
        }

        .button-donate {

            .global-header__secondary & {
                display: none !important;
            }

            .global-header__primary & {
                display: flex;
            }
        }

        .global-header__menu {
            display: flex;
            align-items: end;

            gap: 24px;
            
            height: 100%;
            
            > ul {
                display: flex;
                flex-direction: row;
                
                gap: 32px;
                
                height: 100%;

                > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    height: 100%;
                }
            }

            .nav__dropdown {
                position: absolute;
                inset-inline-start: 0;

                min-width: 200px;

                padding: var(--nav-gap);
                
                margin-inline-start: calc(var(--nav-gap) * -1);
                margin-inline-end: calc(var(--nav-gap) * -1);
            }
        }

    }

} // end @layer