/*

In this file:

// A. Modules
// B. Components

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use '../navigation';
@use '../collapse';

////////////////////////////////////////
// B. Components
////////////////////////////////////////

@layer components {

    .global-header {
        display: grid;
        
        grid-template-areas:
            "logo"
            "secondary"
            "primary";
    }

    .global-header__logo {
        grid-area: logo;

        display: flex;
        justify-content: center;

        padding-block: 24px;
    }

    .global-header__primary {
        grid-area: primary;
        
        @extend .collapse;
        
    }
    
    .global-header__menu {
        font-size: 1.5rem;

        > ul > li > :is(a, button) {}
    }

    .global-header__secondary {
        grid-area: secondary;

        display: flex;
        
        gap: 24px;
        
        align-items: center;

        padding: 16px;

        [class*="__search-language"] {
            display: none;
        }
    }

    .global-header__search-language {
        display: grid;

        gap: 8px;
    }

    .button-kids {
        margin-inline-start: auto;
    }

    .button-donate {
        background-color: var(--primary);
    }

    .global-header__menu {
        font-family: var(--header-font-family);
        
        ul {
            @extend %list-style-nav;
        }
    }

    @media (min-width: 768px) {

        .global-header {
            grid-template-areas:
                "logo secondary"
                "primary primary";

            grid-template-columns: 1fr auto;

            align-items: stretch;

            padding-inline: 24px;
        }

        .global-header__logo {
            justify-content: start;
        }

        .global-header__search-language {
            gap: 24px;
            grid-template-columns: repeat(2, 1fr);

            font-size: var(--font-size-md);
        }

        .mobile-menu-toggle {
            order: 3;
        }
    }

    @media (min-width: 1280px) {

        .global-header {
            grid-template-areas:
                "logo secondary"
                "logo primary";

            grid-template-columns: 1fr auto;
        }

        .global-header__primary {
            display: flex !important;
            justify-content: flex-end;
            align-items: end;
        }

        .global-header__secondary {
            padding-inline: unset;
        }

        .global-header__search-language {
            .global-header__secondary & {
                display: grid;
            }

            .global-header__primary & {
                display: none;
            }
        }

        .mobile-menu-toggle {
            display: none;
        }

        .button-donate {
            .global-header__secondary & {
                display: none;
            }

            .global-header__primary & {
                display: flex;
            }
        }

        .global-header__menu {
            display: flex;
            gap: 24px;
            align-items: center;
            
            > ul {
                display: flex;
                flex-direction: row;
                gap: 16px;
                height: 100%;

                > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }

            .nav__dropdown {
                position: absolute;
            }
        }

    }

} // end @layer