/*

In this file:

// A. Variables

*/

@use 'sass:map';

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {

    --serif: 'Georgia', serif;
    --sans-serif: 'Roboto', sans-serif;

    // Body Font Stack

    --body-font-family: var(--serif);

    --body-font-weight-normal: 400;
    --body-font-weight-medium: 500;
    --body-font-weight-bold: 700;

    --header-font-family: var(--sans-serif);
    
    --base-font-size: 0.875rem; // 16px

    --type-scale: 1.25; // Minor Third

    // Headers

    --header-line-height: 1.15;

    // --body-line-height: 1.55;

    --nav-font-family: var(--sans-serif);

    --form-font-family: var(--sans-serif);

    // Containers

    --body-max-width: 2200px;

    --html-background-color: var(--dark);
    
    --narrow-width: 44rem;
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.5);

    // Buttons

    --button-font-family: var(--header-font-family);

    --button-font-weight: var(--body-font-weight-bold);

    --button-border-radius: 0;
    
    // --button-text-transform: uppercase;

    --button-padding-x: 1.25em;

    --button-icon-only-size: 2.25em;
    
    --button-outline-border-width: var(--border-width);

    --button-icon-only-size: 2.25em;

    --button--icon-label-border-radius: 100%; 

    // Spacing

    --spacer-3: calc(var(--spacer-base) * 1.25);
    --spacer-4: calc(var(--spacer-base) * 2);
    --spacer-5: calc(var(--spacer-base) * 4);

    // Grid

    // --grid-sidebar-width: 18rem;

    // Form

    --form-field-border-color: var(--border-color);
    --form-field-border-radius: 0;

    // Lightbox Icons

    --lightbox-button-icon-image: "\f13d";
    --lightbox-button-icon-video: "\f169";

    // Sidebar

    --article-sidebar-width: 480px;

    // Blockquote

    --blockquote-font-family: var(--sans-serif);
    --blockquot-font-size: 1.2em;
    --blockquote-border-width: 0.25rem;
}

//////////////////////////////////////////////
// B. Font Utilities
//////////////////////////////////////////////

.serif {
    font-family: var(--serif);
}

.sans-serif {
    font-family: var(--sans-serif);
}

//////////////////////////////////////////////
// B. About Banner
//////////////////////////////////////////////

#banner.backdrop {
    --banner-headline-font-size: 10cqw;

    container-type: inline-size;

    .banner-headline {
        color: var(--primary-dark);

        line-height: 0.875;
        leading-trim: both;
        text-edge: cap alphabetic;
    }
}

/*

// Typography

*/

@media screen and (max-width: 1024px) {
    :root {
        --type-scale: 1.1375;
        --spacer-base: 0.675rem;
    }
}

/*

// Custom Layouts

*/

.grid--features {
    display: grid;

    grid-gap: var(--border-width);

    > .backdrop {
        --backdrop-fixed-height: 0;

        aspect-ratio: 16 / 9;

        max-width: 100%;
    }

    > .backdrop {
        &:nth-of-type(1) {
            grid-area: primary;
        }

        &:nth-of-type(2) {
            grid-area: secondary;
        }

        &:nth-of-type(3) {
            grid-area: tertiary;
        }
    }

    grid-template-areas:
        "primary"
        "secondary"
        "tertiary";

    @media screen and (min-width: 1024px) {
        grid-template-columns: 2fr 1fr;

        grid-template-areas:
            "primary secondary"
            "primary tertiary";
    
        >  .backdrop:nth-of-type(2),
        >  .backdrop:nth-of-type(3) {
            aspect-ratio: unset;
        }
    }
}

.african-border-block {
    --height: 40px;

    position: relative;

    &::before, 
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: var(--height);
        inset-inline-start: 0;
        background-image: url(../images/pattern-01.svg);
        background-image: url(../images/pattern-01.svg), none;
        background-repeat: repeat;
    }

    &::before {
        inset-block-start: 0;
    }

    &::after {
        inset-block-start: 100%;
        margin-block-start: calc(var(--height) * -1);
        transform: rotate(180deg);
    }
}


 // List divider

    .list-divider {
        --_padding-x: 1em;
        --_padding-y: 0.5em;

        font-family: var(--sans-serif);

        list-style: none;

        > li {
            overflow: hidden;

            font-size: var(--font-size-md);

            padding-block: var(--_padding-y);

            display: flex;

            align-items: center;
            
            min-height: calc( var(--list-item-target-size) + var(--_padding-y));

            button {
                --button-target-size: calc(var(--list-item-target-size) - 0.25em);
            }
        }

        > li:not(:last-child) {
            border-block-end: var(--border-width) var(--border-style) var(--border-color);
        }

        > li:not(:has([class*="__cell"])) {
            --_padding-y: 0.75em;

            padding-inline: var(--_padding-x);
        }

        > li:has([class*="__cell"]) {
            justify-content: space-between;

            gap: var(--spacer-2);

            > [class*="__cell"]:nth-child(1) {
                padding-inline: var(--_padding-x);
            }
        }

        > li > [class*="__cell"]:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            min-height: var(--button-icon-only-size);
        }
    }
    

.african-hr {
    border-top: none;
    height: 20px;
    background-image: url(../images/african-hr.svg);
    background-image: url(../images/african-hr.svg), none;
    background-repeat: repeat;
}

:root {
  --gradient-start: var(--primary);
  --gradient-end: var(--secondary);
}

.gradient-text {
  background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-link {
  overflow: hidden;

  display: flex;
  flex-direction: column;

  img {
    transition: transform 0.25s ease-in-out;
  }

  &:is(:hover, :focus) {

    img {
      transform: scale(1.025);
    }

    .button{
        text-decoration: underline;
    }

  }

}
