/*

In this file:

// A. Variables

*/

@use 'sass:map';
@use '../navigation';
@use '../collapse';

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {

    // Body Font Stack

    --body-font-family: 'Georgia', serif;

    --body-font-weight-normal: 400;
    --body-font-weight-medium: 500;
    --body-font-weight-bold: 700;

    --header-font-family: 'Roboto', sans-serif;
    
    --base-font-size: 0.875rem; // 16px

    --type-scale: 1.25; // Minor Third

    // --body-line-height: 1.55;

    --nav-font-family: var(--header-font-family);

    // Containers

    --body-max-width: 2200px;

    --html-background-color: var(--dark);
    
    --narrow-width: 42rem;
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.5);

    // Buttons

    --button-font-family: var(--header-font-family);

    --button-font-weight: var(--body-font-weight-bold);

    --button-border-radius: 0;
    
    // --button-text-transform: uppercase;

    --button-padding-x: 1.25em;

    --button-icon-only-size: 2.25em;
    
    --button-outline-border-width: var(--border-width);

    --button-icon-only-size: 2.25em;

    --button--icon-label-border-radius: 100%; 

    // Spacing

    --spacer-3: calc(var(--spacer-base) * 1.25);
    --spacer-4: calc(var(--spacer-base) * 2);
    --spacer-5: calc(var(--spacer-base) * 4);

    // Grid

    --grid-sidebar-width: 18rem;

    // Form

    --form-field-border-color: var(--border-color);
    --form-field-border-radius: 0;

    // Lightbox Icons

    --lightbox-button-icon-image: "\f13d";
    --lightbox-button-icon-video: "\f169";
}

/*

// Banner

*/

#banner.backdrop {
    --banner-headline-font-size: 8rem;
    --backdrop-fixed-height: 600px;

    .banner-headline {
        color: var(--primary-dark);
    }
}

/*

// Typography

*/

@media screen and (max-width: 1024px) {
    :root {
        --type-scale: 1.1375;
        --spacer-base: 0.675rem;
    }

    #introduction.backdrop {
        --backdrop-fixed-height: 450px;
    }
}

.link {
    font-family: var(--button-font-family);

    text-decoration-line: underline;
    text-decoration-style: underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.0875em;

    font-weight: var(--body-font-weight-medium);

    &:hover {
        text-decoration-color: var(--primary-dark) !important;
    }
}

/*

// Custom Layouts

*/

.grid--features {
    display: grid;

    grid-gap: var(--border-width);

    > .backdrop {
        --backdrop-fixed-height: 0;

        aspect-ratio: 16 / 9;

        max-width: 100%;
    }

    > .backdrop {
        &:nth-of-type(1) {
            grid-area: primary;
        }

        &:nth-of-type(2) {
            grid-area: secondary;
        }

        &:nth-of-type(3) {
            grid-area: tertiary;
        }
    }

    grid-template-areas:
        "primary"
        "secondary"
        "tertiary";

    @media screen and (min-width: 1024px) {
        grid-template-columns: 2fr 1fr;

        grid-template-areas:
            "primary secondary"
            "primary tertiary";
    
        >  .backdrop:nth-of-type(2),
        >  .backdrop:nth-of-type(3) {
            aspect-ratio: unset;
        }
    }
}

.african-border-block {
    --height: 40px;

    position: relative;

    &::before, 
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: var(--height);
        inset-inline-start: 0;
        background-image: url(../images/pattern-01.svg);
        background-image: url(../images/pattern-01.svg), none;
        background-repeat: repeat;
    }

    &::before {
        inset-block-start: 0;
    }

    &::after {
        inset-block-start: 100%;
        margin-block-start: calc(var(--height) * -1);
        transform: rotate(180deg);
    }
}


/*

// Global Navigation

*/

.global-nav {
    display: grid;

    ul {
        @extend %list-style-nav;
    }

    > [class*="__logo"],
    > [class*="__mobile-bar"] {
        display: flex;
    }

    > [class*="__logo"] {
        grid-area: logo;

        justify-content: center;

        padding: var(--primary-nav-padding-y) var(--primary-nav-padding-x);
    }

    > [class*="__mobile-bar"] {
        @extend .button-group;

        grid-area: mobile-bar;

        align-items: center;
        gap:var(--primary-nav-padding-x);

        font-size: var(--font-size-lg);
        
        padding: var(--primary-nav-padding-y) var(--primary-nav-padding-x);

        border-top: var(--border-width) var(--border-style) var(--border-color);

        .link-kids {
            margin-inline-start: auto;
        }
    }

    > [class*="__menu"] {
        @extend .collapse;
    }

    > [class*="__search"] {
        @extend .collapse;
        grid-area: search;

        border-top: var(--border-width) var(--border-style) var(--border-color);
        padding: var(--primary-nav-padding-y) var(--primary-nav-padding-x);
    }

    [class*="__menu__secondary"] {
        gap: var(--primary-nav-padding-x);

        align-items: stretch;

        padding-block: var(--primary-nav-padding-y);
        padding-inline: var(--primary-nav-padding-x);

        > ul {
            display: flex;
            justify-content: flex-end;
        }

        .form-entry {
            font-family: var(--button-font-family);
            min-width: 180px;
        }

        .link-kids {
           display: none;
        }
    }

    grid-template-areas:
        "logo"
        "mobile-bar"
        "menu"
        "search";

    @media screen and (max-width: 1024px) {

        > [class*="__menu"] {
            border-top: var(--border-width) var(--border-style) var(--border-color);
        }

        [class*="__menu__primary"] {

            > ul {
                display: grid;

                > li {
                    border-top: var(--border-width) var(--border-style) var(--border-color);
                }

                > li > a,
                > li > button {
                    display: flex;
                    width: 100%;
                    padding: var(--primary-nav-padding-y) var(--primary-nav-padding-x);
                }

                > li > button {
                    justify-content: space-between;
                }

                > li > [class*="__dropdown"] {
                    padding: var(--primary-nav-padding-y) var(--primary-nav-padding-x);
                }
            }
        }

        .desktop-button-donate,
        .desktop-button-search {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {

        > [class*="__mobile-bar"] {
            display: none;
        }

        > [class*="__menu"] {
            display: grid;
            grid-template-rows: auto 1fr;
        }

        [class*="__menu__primary"],
        [class*="__menu__secondary"] {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        
        [class*="__menu__primary"] {
            display: flex;

            > ul {
                height: 100%;
            }

            > ul {
                display: flex;
                align-items: stretch;

                > li {
                    display: flex;

                    margin-inline-start: var(--nav-gap);
                    margin-inline-end: var(--nav-gap);
                    margin-bottom: 0 !important;
                }

                > li > .nav__dropdown {
                    position: absolute;

                    min-width: 200px;
                    padding: var(--nav-gap);
                    margin-inline-start: calc(var(--nav-gap) * -1);
                    margin-inline-end: calc(var(--nav-gap) * -1);
                }

                > li > a {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

        }

        .desktop-button-donate {
            display: flex;
            align-items: stretch;




            a {
            display: flex;
            align-items: center;
            height: 100%;


            padding-block: unset;
            
            }
        }

        grid-template-columns: auto 1fr;

        grid-template-areas:
            "logo menu"
            "search search";
    }
}