/*

In this file:

// A. Variables

*/

@use 'sass:map';

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {

    --serif: 'Georgia', serif;
    --sans-serif: 'Roboto', sans-serif;

    // Body Font Stack

    --body-font-family: var(--serif);

    --body-font-weight-normal: 400;
    --body-font-weight-medium: 500;
    --body-font-weight-bold: 700;

    --header-font-family: var(--sans-serif);
    
    --base-font-size: 0.875rem; // 16px

    --type-scale: 1.25; // Minor Third

    // Headers

    --header-line-height: 1.15;

    // --body-line-height: 1.55;

    --nav-font-family: var(--sans-serif);

    --form-font-family: var(--sans-serif);

    // Containers

    --body-max-width: 2200px;

    --html-background-color: var(--dark);
    
    --narrow-width: 44rem;
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.5);

    // Buttons

    --button-font-family: var(--header-font-family);

    --button-font-weight: var(--body-font-weight-bold);

    --button-border-radius: 0;
    
    // --button-text-transform: uppercase;

    --button-padding-x: 1.25em;

    --button-icon-only-size: 2.25em;
    
    --button-outline-border-width: var(--border-width);

    --button-icon-only-size: 2.25em;

    --button--icon-label-border-radius: 100%; 

    // Spacing

    --spacer-3: calc(var(--spacer-base) * 1.25);
    --spacer-4: calc(var(--spacer-base) * 2);
    --spacer-5: calc(var(--spacer-base) * 4);

    // Form

    --form-field-border-color: var(--border-color);
    --form-field-border-radius: 0;

    // Lightbox Icons

    --lightbox-button-icon-image: "\f13d";
    --lightbox-button-icon-video: "\f169";

    // Sidebar

    --article-sidebar-width: 480px;

    // Blockquote

    --blockquote-font-family: var(--sans-serif);
    --blockquot-font-size: 1.2em;
    --blockquote-border-width: 0.25rem;
}

//////////////////////////////////////////////
// B. Font Utilities
//////////////////////////////////////////////

.serif {
    font-family: var(--serif);
}

.sans-serif {
    font-family: var(--sans-serif);
}

//////////////////////////////////////////////
// B. About Banner
//////////////////////////////////////////////

#banner.backdrop {
    --banner-headline-font-size: 10cqw;

    container-type: inline-size;

    .banner-headline {
        color: var(--primary-dark);

        line-height: 0.875;
        leading-trim: both;
        text-edge: cap alphabetic;
    }
}

/*

// Typography

*/

@media screen and (max-width: 1024px) {
    :root {
        --type-scale: 1.1375;
        --spacer-base: 0.675rem;
    }
}

/*

// Custom Layouts

*/

.grid--features {
    display: grid;

    grid-gap: var(--border-width);

    > .backdrop {
        --backdrop-fixed-height: 0;

        aspect-ratio: 16 / 9;

        max-width: 100%;
    }

    > .backdrop {
        &:nth-of-type(1) {
            grid-area: primary;
        }

        &:nth-of-type(2) {
            grid-area: secondary;
        }

        &:nth-of-type(3) {
            grid-area: tertiary;
        }
    }

    grid-template-areas:
        "primary"
        "secondary"
        "tertiary";

    @media screen and (min-width: 1024px) {
        grid-template-columns: 2fr 1fr;

        grid-template-areas:
            "primary secondary"
            "primary tertiary";
    
        >  .backdrop:nth-of-type(2),
        >  .backdrop:nth-of-type(3) {
            aspect-ratio: unset;
        }
    }
}

.african-border-block {
    --height: 40px;

    position: relative;

    &::before, 
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: var(--height);
        inset-inline-start: 0;
        background-image: url(../images/pattern-01.svg);
        background-image: url(../images/pattern-01.svg), none;
        background-repeat: repeat;
    }

    &::before {
        inset-block-start: 0;
    }

    &::after {
        inset-block-start: 100%;
        margin-block-start: calc(var(--height) * -1);
        transform: rotate(180deg);
    }
}

.african-hr {
    border-top: none;
    height: 20px;
    background-image: url(../images/african-hr.svg);
    background-image: url(../images/african-hr.svg), none;
    background-repeat: repeat;
}

.image-link {
  overflow: hidden;

  display: flex;
  flex-direction: column;

  img {
    transition: transform 0.25s ease-in-out;
  }

  &:is(:hover, :focus) {

    img {
      transform: scale(1.025);
    }

    .button{
        text-decoration: underline;
    }

  }

}

.map-key {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: var(--spacer-1);

    font-size: var(--font-size-md);
}

.map-key__item {
    display: flex;
    align-items: center;

border-radius: var(--border-radius-1);
overflow: hidden;
    flex: 1 1 50%;

    padding: 0.5em;

    gap: 0.5em;



    .map-key__icon {

    display: inline-flex;
       
        color: currentColor;

        svg {
            width: 1.5em;
            height: 1.5em;
            fill: none;
        }
    }

    .map-key__label {
        font-family: var(--sans-serif);
    }


    &[class*="map-key__item--hq"] {
        background-color: #FFC44E;
    }   

    &[class*="map-key__item--af"] {
        background-color: #FDB8FF;
    }   

    &[class*="map-key__item--pa"] {
        background-color: #66E5A8;
    }   
}