
<div class="grid grid--column-3--lg gap-border">

    <a class="backdrop theme-dark" href="#1">

        <div class="backdrop__media gradient-mask-bottom">
            <img class="opacity-70" src="./images/resource-library.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover justify-content-end">

            <div class="container padding-y-3">

                <span class="button 👉 theme-primary font-size-md width-100">
                    Become a CCF sponsor
                </span>

            </div>

        </div>

    </a>

    <a class="backdrop theme-dark" href="#1">

        <div class="backdrop__media gradient-mask-bottom">
            <img class="opacity-70" src="./images/volunteer.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover justify-content-end">

            <div class="container padding-y-3">

                <span class="button 👉 theme-primary font-size-md width-100">
                    Volunteer
                </span>

            </div>

        </div>

    </a>

    <a class="backdrop theme-dark" href="#1">

        <div class="backdrop__media gradient-mask-bottom">
            <img class="opacity-70" src="./images/visit.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover justify-content-end">

            <div class="container padding-y-3">

                <span class="button 👉 theme-primary font-size-md width-100">
                    Visit CCF
                </span>

            </div>

        </div>

    </a>

</div>


<footer class="font-size-md" id="global-footer">

    <h2 class="screen-reader-only">Page Footer</h2>
    
    <nav class="container wide padding-y-5">

        <div class="grid grid--column-2 grid--column-6--lg gap-5">

            <div class="sans-serif">
                <ul class="nav">
                    <li>
                        <span class="font-weight-bold mb-2">What We Do</span>
                    </li>
                    <li>
                        <a href="#1" title="Conservation">Conservation</a>
                    </li>
                    <li>
                        <a href="#1" title="Research">Research</a>
                    </li>
                    <li>
                        <a href="#1" title="Education">Education</a>
                    </li>
                    <li>
                        <a href="#1" title="International Cheetah Day">International Cheetah Day</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="nav">
                    <li>
                        <span class="font-weight-bold mb-2">Who We Are</span>
                    </li>
                    <li>
                        <a href="#1" title="Mission and Vision">CCF’s Mission</a>
                    </li>
                    <li>
                        <a href="#1" title="Dr. Laurie Marker">Dr. Laurie Marker</a>
                    </li>
                    <li>
                        <a href="#1" title="Our Centre">Our Field Conservation Centres</a>
                    </li>
                    <li>
                        <a href="#1" title="Staff and Board">Staff</a>
                    </li>
                    <li>
                        <a href="#1" title="">Governance</a>
                    </li>
                    <li>
                        <a href="#1" title="CCF Global">CCF Global</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="nav">
                    <li>
                        <span class="font-weight-bold mb-2">Get Involved</span>
                    </li>
                    <li>
                        <a href="#1" title="Ways to Give">Ways to Give</a>
                    </li>
                    <li>
                        <a href="#1" title="CCF Events">CCF Events</a>
                    </li>
                    <li>
                        <a href="#1" title="Volunteer In Namibia">Volunteer</a>
                    </li>
                    <li>
                        <a href="#1" title="Visit CCF">Visit CCF</a>
                    </li>
                    <li>
                        <a href="#1" title="">Contact CCF</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="nav">
                    <li>
                        <span class="font-weight-bold mb-2">Learn</span>
                    </li>
                    <li>
                        <a href="#1" title="Resource Library">Resource Library</a>
                    </li>
                    <li>
                        <a href="#1" title="About Cheetahs">About Cheetahs</a>
                    </li>
                    <li>
                        <a href="#1" title="Human Wildlife Conflict">Human Wildlife Conflict</a>
                    </li>
                    <li>
                        <a href="#1" title="Illegal Pet Trade">Illegal Wildlife Trade</a>
                    </li>
                    <li>
                        <a href="#1" title="Habitat Loss">Habitat Loss</a>
                    </li>
                    <li>
                        <a href="#1" title="CCF Videos">CCF Videos</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="nav">
                    <li>
                        <span class="font-weight-bold mb-2">News</span>
                    </li>
                    <li>
                        <a href="#1" title="CCF Blog">CCF Blog</a>
                    </li>
                    <li>
                        <a href="#1" title="">Cheetah Strides</a>
                    </li>
                    <li>
                        <a href="#1" title="Press Releases">Press Releases</a>
                    </li>
                </ul>
            </div>

            <div>

                <ul class="nav">
                    <li>
                        <a href="#1" title="For Kids">
                            <img src="https://cheetah.org/wp-content/themes/ccf-twentynineteen/images/ccf-kids-logo.svg" alt="Placeholder">
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>

    <div class="theme-light padding-y-5">

        <div class="container wide">

            <div class="grid grid--column-3--lg gap-5">

                <div class="narrow">
                    <h3 class="h6">
                        Cheetah Conservation Fund
                    </h3>
                    <p>
                        Our Research and Education Centre is located in Otjiwarongo, Namibia. We encourage visitors to see our facilities in person.
                    </p>
                    <a class="link" href="#1">Come Join Us</a>
                </div>

                <div class="narrow">
                    <h3 class="h6">
                        Where We Work
                    </h3>
                    <p>
                        CCF is an international non-profit organization with fundraising operations located in: Australia, Canada, Italy, United Kingdom, and United States, working in cooperation with staff and partners around the world.
                    </p>
                    <a class="link" href="#1">CCF Global</a>
                </div>

                <div class="narrow">
                    <h3 class="h6">
                        Support CCF
                    </h3>
                    <p>
                        You can help save the cheetah from extinction. Support our science-based, results-driven conservation initiatives. Together, we can save the cheetah.
                    </p>

                    <a class="button theme-primary font-size-md" href="#1">
                        Donate Now  
                    </a>

                    <a class="button theme-primary font-size-md" href="#1">
                        Sponsor a Cheetah   
                    </a>
                </div>

            </div>

            <div class="margin-y-4 medium">
                <p>
                    Photography on our website is provided by generous supporters like Suzi Eszterhas, John and Angela Scott, Jennifer Leigh Warner, Craig Taylor, Vicky Morey, Andrew Harrington, Bobby Bradley, and many others.
                </p>
            </div>
            

            <hr />

            <div class="padding-y-3 display-flex font-size-md">

                <div class="button-group width-100">

                    <a class="button theme-primary button--has-icon margin-right-auto" href="#1">
                        <span class="icon icon-mail"></span>
                        <span class="button__text">Email Sign-Up</span>
                    </a>

                    <a class="button theme-primary button--icon-only" href="#1">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                    </a>

                    <a class="button theme-primary button--icon-only" href="#1">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                    </a>

                    <a class="button theme-primary button--icon-only" href="#1">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                    </a>

                    <a class="button theme-primary button--icon-only" href="#1">
                        <span class="icon icon-youtube" aria-hidden="true"></span>
                    </a>

                    <a class="button theme-primary button--icon-only" href="#1">
                        <span class="icon icon-tiktok" aria-hidden="true"></span>
                    </a>

                </div>

            
            </div>


        </div>

    </div>

</footer>

<script src="{{ site.url }}/dist/cheetah.js"></script>