<div class="skip-links">

    <a href="#main">
        Jump to main content
    </a>

    <a href="#global-footer">
        Jump to website footer
    </a>

</div>

<div class="margin-x-auto wide z-index-2000">
    
    <header class="global-header">

        <div class="global-header__logo">
            <a
                href="#1"
                title="Home"
                data-logo="brand">
                <img src="./images/cheetah-conservation-fund-logo.svg" alt="Placeholder" />
            </a>
        </div>

        <div class="global-header__secondary">
        
            <button
                class="button button--icon-only mobile-menu-toggle"
                aria-label="Menu"
                data-toggle="collapse"
                aria-controls="#main-menu">
                    <span class="icon icon-menu"></span>
            </button>

            <a href="#" class="button-kids">
                <img src="./images/ccf-kids-logo.svg" alt="Placeholder" />
            </a>

            <a href="#" class="button button-donate">
                Donate
            </a>

            <div class="grid global-header__search-language">
        
                <div class="global-header__search">
                    <div class="form-entry" aria-label="Search">
                        <div class="form-entry__field">
                            <span class="form-entry__field__input">
                                <input type="text" name="global-search" />
                                <button class="button">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="global-header__language">
                    <div class="form-entry">

                        <label class="form-entry__field">

                            <span class="form-entry__field__label screen-reader-only">
                                Form Entry Label
                            </span>

                            <span class="form-entry__field__select">
                                <span class="icon icon-language"></span>
                                <select
                                    id="select-example"
                                    name="selectExample"
                                    aria-describedby="help-select-example">
                                        <option value="">Language</option>
                                        <option value="Option One">Option One</option>
                                        <option value="Option Two">Option Two</option>
                                        <option value="Option Three">Option Three</option>
                                        <option value="Option Four">Option Four</option>
                                        <option value="Option Five">Option Five</option>
                                </select>
                            </span>

                        </label>

                    </div>
                </div>

            </div>

        </div>
        
        <div class="global-header__primary" id="main-menu">

            <div class="grid global-header__search-language">
            
                <div class="global-header__search">
                    <div class="form-entry" aria-label="Search">
                        <div class="form-entry__field">
                            <span class="form-entry__field__input">
                                <input type="text" name="global-search" />
                                <button class="button">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="global-header__language">
                    <div class="form-entry">

                        <label class="form-entry__field">

                            <span class="form-entry__field__label screen-reader-only">
                                Form Entry Label
                            </span>

                            <span class="form-entry__field__select">
                                <span class="icon icon-language"></span>
                                <select
                                    id="select-example"
                                    name="selectExample"
                                    aria-describedby="help-select-example"
                                >
                                    <option value="">Language</option>
                                    <option value="Option One">Option One</option>
                                    <option value="Option Two">Option Two</option>
                                    <option value="Option Three">Option Three</option>
                                    <option value="Option Four">Option Four</option>
                                    <option value="Option Five">Option Five</option>
                                </select>
                            </span>

                        </label>

                    </div>
                </div>

            </div>

            <nav class="global-header__menu">
            
                <ul>
                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-about-us"
                        >
                            About Us
                        </button>
                        <div 
                            class="mega-menu--lg theme-dark theme-secondary--lg box-shadow-2--lg"
                            id="menu-about-us">

                            <div class="grid grid--column-3--lg gap-4">

                                <div class="grid__colspan-2--lg padding-y-4">

                                    <div class="container grid grid--column-2--lg gap-3 width-100">
                    
                                        <nav>
                                            <p>
                                                <strong>Who We Are</strong>
                                            </p>
                                            <ul class="nav font-size-md">
                                                <li>
                                                    <a href="#1">CCF's Mission</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Dr. Laurie Marker</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Our Field Conservation Centres</a>
                                                </li>
                                                <li>
                                                    <a href="#1">CCF Staff</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Governance</a>
                                                </li>
                                                <li>
                                                    <a href="#1">CCF Global</a>
                                                </li>
                                            </ul>
                                        </nav>

                                        <nav>
                                            <p>
                                                <strong>What We Do</strong>
                                            </p>
                                            <ul class="nav font-size-md">
                                                <li>
                                                    <a href="#1">Conservation</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Research</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Education</a>
                                                </li>
                                                <li>
                                                    <a href="#1">International Cheetah Day</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Congue</a>
                                                </li>
                                                <li>
                                                    <a href="#1">Egestas</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        
                                    </div> 

                                </div>

                                <div class="backdrop backdrop--fixed">

                                    <div class="backdrop__media gradient-mask-bottom">
                                        <img class="opacity-80" src="./images/feature-03.jpg" alt="Placeholder">
                                    </div>

                                    <div class="backdrop__cover align-content-end">

                                        <div class="container wide margin-y-3">

                                            <a class="button 👉 theme-primary font-size-md width-100--lg" href="#1">
                                                2022 Annual Report
                                            </a>
                                            
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>
                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-get-involved"
                            data-trigger="hover"
                        >
                            Get Involved
                        </button>
                        <ul
                            class="nav__dropdown box-shadow-1--lg"
                            id="menu-get-involved"
                        >
                            <li>
                                <a href="#1">Link</a>
                            </li>
                            <li>
                                <a href="#1">Link</a>
                            </li>
                            <li>
                                <a href="#1">Link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#1" id="my-button">Learn</a>
                    </li>
                    <li>
                        <a href="#1">News</a>
                    </li>
                    <li>
                        <a href="#1" id="my-button">Shop</a>
                    </li>
                </ul>

                <a href="#" class="button button-donate">
                    Donate
                </a>

            </nav>

        </div>
        
    </header>

</div>

<main>