<div class="skip-links">

    <a href="#main">
        Jump to main content
    </a>

    <a href="#global-footer">
        Jump to website footer
    </a>

</div>

<div class="margin-x-auto wide z-index-2000">
    
    <header class="global-header">

        <div class="global-header__logo">
            <a
                href="#1"
                title="Home"
                data-logo="brand">
                <img src="./images/cheetah-conservation-fund-logo.svg" alt="Placeholder" />
            </a>
        </div>

        <div class="global-header__secondary">
        
            <button
                class="button button--icon-only mobile-menu-toggle"
                aria-label="Menu"
                data-toggle="collapse"
                aria-controls="#main-menu">
                    <span class="icon icon-menu"></span>
            </button>

            <a href="#" class="button-kids">
                <img src="./images/ccf-kids-logo.svg" alt="Placeholder" />
            </a>

            <a href="#" class="button button-donate">
                Donate
            </a>

            <div class="grid global-header__search-language">
        
                <div class="global-header__search">
                    <div class="form-entry" aria-label="Search">
                        <div class="form-entry__field">
                            <span class="form-entry__field__input">
                                <input type="text" name="global-search" />
                                <button class="button">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="global-header__language">
                    <div class="form-entry">

                        <label class="form-entry__field">

                            <span class="form-entry__field__label screen-reader-only">
                                Form Entry Label
                            </span>

                            <span class="form-entry__field__select">
                                <span class="icon icon-language"></span>
                                <select
                                    id="select-example"
                                    name="selectExample"
                                    aria-describedby="help-select-example">
                                        <option value="">Language</option>
                                        <option value="Option One">Option One</option>
                                        <option value="Option Two">Option Two</option>
                                        <option value="Option Three">Option Three</option>
                                        <option value="Option Four">Option Four</option>
                                        <option value="Option Five">Option Five</option>
                                </select>
                            </span>

                        </label>

                    </div>
                </div>

            </div>

        </div>
        
        <div class="global-header__primary" id="main-menu">

            <div class="grid global-header__search-language">
            
                <div class="global-header__search">
                    <div class="form-entry" aria-label="Search">
                        <div class="form-entry__field">
                            <span class="form-entry__field__input">
                                <input type="text" name="global-search" />
                                <button class="button">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="global-header__language">
                    <div class="form-entry">

                        <label class="form-entry__field">

                            <span class="form-entry__field__label screen-reader-only">
                                Form Entry Label
                            </span>

                            <span class="form-entry__field__select">
                                <span class="icon icon-language"></span>
                                <select
                                    id="select-example"
                                    name="selectExample"
                                    aria-describedby="help-select-example"
                                >
                                    <option value="">Language</option>
                                    <option value="Option One">Option One</option>
                                    <option value="Option Two">Option Two</option>
                                    <option value="Option Three">Option Three</option>
                                    <option value="Option Four">Option Four</option>
                                    <option value="Option Five">Option Five</option>
                                </select>
                            </span>

                        </label>

                    </div>
                </div>

            </div>

            <nav class="global-header__menu">
            
                <ul>
                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-about-us"
                            {% if page.url contains '/about-us' %}
                            aria-current="page"
                            {% endif %}
                        >
                            About Us
                        </button>
                        
                        <nav 
                            class="mega-menu--xl theme-light theme-secondary--xl box-shadow-2--xl"
                            id="menu-about-us">

                            <div class="grid grid--column-4--xl gap-4">

                                <div class="grid__colspan-3--xl padding-y-4">

                                    <div class="container">

                                        <div class="grid grid--divider grid--column-3--xl gap-5">

                                            <p class="h3 text-color-primary font-weight-normal display-none display-block--xl">
                                              <em>CCF is Changing the World to Save the Cheetah</em>  
                                            </p>
                        
                                            <section>

                                                {% assign who_we_are = site.data.navigation | where: "label", "Who We Are" | first %}

                                                <h2 class="h6 margin-bottom-3">
                                                    {{ who_we_are.label }}
                                                </h2>

                                                {% if who_we_are.items %}
                                                <ul class="nav font-size-md">
                                                    {% for item in who_we_are.items %}
                                                    <li>
                                                        <a
                                                            href="{{ item.url }}"
                                                            {% if page.url == item.url %}
                                                            aria-current="page"
                                                            {% endif %}
                                                        >
                                                            {{ item.label }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}

                                            </section>

                                            <section>

                                                {% assign what_we_do = site.data.navigation | where: "label", "What We Do" | first %}

                                                <h2 class="h6 margin-bottom-3">
                                                    {{ what_we_do.label }}
                                                </h2>

                                                {% if what_we_do.items %}
                                                <ul class="nav font-size-md">
                                                    {% for item in what_we_do.items %}
                                                    <li>
                                                        <a
                                                            href="{{ item.url }}"
                                                            {% if page.url == item.url %}
                                                            aria-current="page"
                                                            {% endif %}
                                                        >
                                                            {{ item.label }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}

                                            </section>
                                            
                                        </div>

                                    </div> 

                                </div>

                                <article class="backdrop backdrop--fixed" style="--backdrop-fixed-height: auto;">

                                    <div class="backdrop__media gradient-mask-bottom">
                                        <img class="opacity-80" src="./images/mega-menu-feature.jpg" alt="Placeholder">
                                    </div>

                                    <div class="backdrop__cover justify-content-end">

                                        <div class="container wide margin-y-3">

                                            <a class="button 👉 theme-primary font-size-md width-100--lg" href="#1">
                                                2022 Annual Report
                                            </a>
                                                
                                        </div>

                                    </div>

                                </article>

                            </div>

                        </nav>

                    </li>

                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-get-involved"
                            {% if page.url contains '/get-involved' %}
                            aria-current="page"
                            {% endif %}
                        >
                            Get Involved
                        </button>

                        {% assign get_involved = site.data.navigation | where: "label", "Get Involved" | first %}

                        <ul class="nav__dropdown theme-light theme-secondary--xl box-shadow-1--xl" id="menu-get-involved">
                        {% if get_involved.items %}
                            {% for item in get_involved.items %}
                            <li>
                                <a href="{{ item.url }}"
                                >{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </li>

                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-learn"
                            {% if page.url contains '/learn' %}
                            aria-current="page"
                            {% endif %}
                        >
                            Learn
                        </button>

                        {% assign learn = site.data.navigation | where: "label", "Learn" | first %}

                        <ul class="nav__dropdown theme-light theme-secondary--xl box-shadow-1--xl" id="menu-learn">
                        {% if learn.items %}
                            {% for item in learn.items %}
                            <li>
                                <a href="{{ item.url }}"
                                >{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </li>

                    <li>
                        <button
                            data-toggle="dropdown"
                            aria-controls="menu-news"
                            data-trigger="hover"
                        >
                            News
                        </button>

                        {% assign news = site.data.navigation | where: "label", "News" | first %}

                        <ul class="nav__dropdown theme-light theme-secondary--xl box-shadow-1--xl" id="menu-news">
                        {% if news.items %}
                            {% for item in news.items %}
                            <li>
                                <a href="{{ item.url }}"
                                >{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </li>
                  
                </ul>

                <a href="#" class="button button-donate">
                    Donate
                </a>

            </nav>

        </div>
        
    </header>

</div>