<header class="box-shadow-1 z-index-1500" id="global-header">

    <div>

        <a class="focusable-only" href="#skip-header-target">
            Jump to main content
        </a>
        <a class="focusable-only" href="#global-footer">
            Jump to webite footer
        </a>

    </div>

    <div class="margin-x-auto wide">
    
        <div class="primary-nav--inline--lg">

            <div class="primary-nav__logo">

                <a
                    href="{{ site.url }}/"
                    title="Home"
                    data-logo="brand">
                    <img src="{{ site.url}}/images/cheetah-conservation-fund-logo.svg" alt="Placeholder" />
                </a>

            </div>

            <nav class="primary-nav__menu" id="main-menu" aria-label="Main Menu">

                <ul>
                    <li>
                        <button data-toggle="dropdown">
                            About Us
                        </button>
                        <ul class="nav__dropdown box-shadow-1--lg">
                            <li>
                                <a href="{{ site.url }}/about-us/what-we-do/conservation.html">
                                    Conservation
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    Malesuada
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    Viverra
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button data-toggle="dropdown">
                            Get Involved
                        </button>
                        
                        <ul class="nav__dropdown box-shadow-1--lg">
                            <li>
                                <a href="#1">
                                    Ways to Give
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    CCF Events
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    Volunteer
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    Visit CCF
                                </a>
                            </li>
                            <li>
                                <a href="#1">
                                    Corporate Giving
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#1">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            News
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            Shop
                        </a>
                    </li>
                </ul>

            </nav>

            <div class="primary-nav__toggle">

                <button class="mobile-menu-toggle button button--icon-only" aria-label="Menu" data-toggle="collapse" data-target-toggle="#main-menu">
                    <span class="icon icon-menu"></span>
                </button>

            </div>

            <div class="primary-nav__actions">

                <a class="button theme-primary" href="#1">
                    Donate
                </a>

                <button class="button button--icon-only" aria-label="Language">
                    <span class="icon icon-search"></span>
                </button>

            </div>

        </div>

    </div>

	{% if page.title != 'Home' %}

    <div class="border-top padding-y-2">

        <div class="container wide">

            <ul class="nav-breadcrumb font-size-sm">
                <li>
                    <a href="#1">
                        <span class="icon icon-home" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Pretium
                    </a>
                </li>
                <li class="text-color-secondary">
                    Suscipit Tellus
                </li>
            </ul>

        </div>
    </div>

    {% endif %}

</header>