<div class="card card--horizontal sans-serif font-size-sm border-radius-2 box-shadow-1">

	<div class="card__media">
		<img src="{{ site.url}}/images/cheetah-strides-thumbnail.jpg" alt="Placeholder"/>
	</div>

	<div class="card__body">

		<p class="margin-bottom-1">April 25, 2025</p>
		
        <h2 class="h6">Cheetah Strides No. 29</h2>
		
        <ul class="nav nav--divider border nav--has-icons margin-y-2" role="menu">
			<li>
				<a href="#1">
					<span class="icon icon-arrow-right"></span>
					<span class="nav__text">Preview</span>
				</a>
			</li>
			<li>
				<a href="#1">
					<span class="icon icon-file-download"></span>
					<span class="nav__text">Download (PDF)</span>
				</a>
			</li>
		</ul>
	
    </div>

</div>