<footer class="margin-x-auto narrow border-top font-size-sm margin-top-4 padding-top-3">
    
    <div class="grid grid--column-3 gap-1 align-items-center">
        
        <a class="button button--outline button--has-icon" href="#1">
            <span class="icon icon-facebook"></span>
            <span class="button__text">Share</span>
        </a>
        
        <a class="button button--outline button--has-icon" href="#1">
            <span class="icon icon-twitter"></span>
            <span class="button__text">Tweet</span>
        </a>
        
        <a class="button button--outline button--has-icon" href="#1">
            <span class="icon icon-mail"></span>
            <span class="button__text">Send</span>
        </a>
    </div>

</footer>