---
layout: global
---

<div>

    <div class="header-with-tabs">

        <div class="theme-secondary margin-bottom-3 cheetah-spots padding-y-5">

            <div class="container text-align-center">

                <img src="/images/ccf-kids-logo.svg" height="140px" alt="">

                <div class="container narrow margin-y-4">
                    <p>
                        Welcome to Cheetah Conservation Fund's Kids page — the purrfect place to start your cheetah studies! From cool cheetah facts for kids, to how kids like YOU are helping CCF save the cheetah in the wild.
                    </p>
                </div>

            </div>

        </div>

        <nav class="header-with-tabs__nav">

            <div class="container medium">
            
                <ul class="tabs-nav tabs-nav--pill tabs-nav--horizontal--md cheetah-tracks">
                    <li>
                        <a
                            href="/kids"
                            {% if page.title contains 'CCF Kids' %}
                            class="is-active"
                            aria-current="page"
                            {% endif %}
                        >
                            CCF Kids
                        </a>
                    </li>
                    <li>
                        <a
                            href="/kids/cheetah-facts/"
                            {% if page.url contains '/kids/cheetah-facts' %}
                            class="is-active"
                            aria-current="page"
                            {% endif %}
                        >
                            Cheetah Facts
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

    </div>

    <div class="margin-y-5">

        {{ content }}

    </div>

</div>