/*

In this file:

// A. Generic Links
// B. Utilities

*/

//////////////////////////////////////////////
// A. Generic Links
//////////////////////////////////////////////

@layer base {

    a {
        color: currentColor;
    }

    p > a {

        &:not([class*="link--has-icon"]) {
            text-decoration: underline;
        }

        &:has([class*="link--has-icon"]) {
            text-decoration: none;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

    }

    p > a:not([class*="link--has-icon"]) {

        text-decoration: underline;
        
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    [data-logo="brand"] {

        display: inline-block;

        &:focus-visible {
            opacity: 0.85;
        }

        > svg {
            fill: currentColor;
            display: block;
        }

    }

} // end @layer

//////////////////////////////////////////////
// B. Utilities
//////////////////////////////////////////////

@layer utility {

    // Link with Icon

    .link {

        &:not([class*="text-color-"]) {
            color: var(--link-color);
        }

        &:not(:has([class*="icon"])) {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

    }

    .link-expanded {

        &::before {
            position: absolute;
            content: "";
            
            inset: 0;
            
            z-index: 1;

            pointer-events: auto;
        }

    }

} // end @layer