/*

In this file:

// A. Generic Links
// B. Utilities

*/

//////////////////////////////////////////////
// A. Generic Links
//////////////////////////////////////////////

@layer base {

    a {
        color: currentColor;
    }

    p > a {

        &:not([class*="link--has-icon"]) {
            text-decoration: underline;
        }

        &:has([class*="link--has-icon"]) {
            text-decoration: none;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

    }

    p > a:not([class*="link--has-icon"]) {

        text-decoration: underline;
        
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    [data-logo="brand"] {

        display: inline-block;

        &:focus-visible {
            opacity: 0.85;
        }

        > svg {
            fill: currentColor;
            display: block;
        }

    }

} // end @layer

//////////////////////////////////////////////
// B. Utilities
//////////////////////////////////////////////

@layer utility {

    // Link with Icon

    .link {

        &:not([class*="text-color-"], [class*="--styled"]) {
            color: var(--link-color);
        }

        &:not(:has([class*="icon"], [class*="--styled"])) {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

    }

    .link--styled {
        font-weight: var(--font-weight-bold);
        font-family: var(--sans-serif);
        
        color: currentColor;

        text-decoration-line: underline;
        text-decoration-color: var(--primary-dark) !important;
        text-decoration-thickness: calc( var(--border-width) * 2);
        text-underline-offset: 0.25em;
        text-decoration-style: solid; /* solid | double | dotted | dashed | wavy */

    }

    .link-expanded {

        &::before {
            position: absolute;
            content: "";
            
            inset: 0;
            
            z-index: 1;

            pointer-events: auto;
        }

    }

} // end @layer